<li class="project">
  <div class="title">
    <a target="__blank" href="$url$">$title$</a>
  </div>
  <div class="year">$year$</div>
  <a class="img-wrapper" href="$url$" target="__blank">
    <img class="lazy"
         data-src="/images/1920-$img$"
         data-srcset="/images/640-$img$ 640w,
                      /images/768-$img$ 768w,
                      /images/1024-$img$ 1024w,
                      /images/1366-$img$ 1366w,
                      /images/1600-$img$ 1600w,
                      /images/1920-$img$ 1920w"
         data-sizes="70vw"
    />
  </a>
  <div class="description">$body$</div>
  <div class="stack">Stack: $stack$</div>
</li>
